name: GitHub Advanced Security Scan with CWE Extraction

on:
  pull_request:
    branches:
      - ghas

jobs:
  codeql-scan:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    outputs:
      cwes: ${{ steps.extract-cwes.outputs.cwes }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: python
          queries: security-and-quality

      - name: Autobuild
        uses: github/codeql-action/autobuild@v4

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
        with:
          output: codeql-results
          upload: false

      - name: Extract CWEs from CodeQL results
        id: cwes
        run: |
          echo "--------raw results---------"
          cat codeql-results/*.sarif
          echo "----------------------------"
          cwes=$(jq -c '[.runs[].results[]?.ruleId as $rid | .runs[].tool.extensions[].rules[]? | select(.id == $rid) | .properties.tags[]? | select(startswith("external/cwe/")) | ltrimstr("external/cwe/")] | unique' codeql-results/*.sarif)
          echo "cwes=$cwes" >> $GITHUB_OUTPUT
      - name: next step
        run: |
          echo '${{ steps.cwes.outputs.cwes }}'
